<html>

    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>


    <body>

        <div class="jumbotron text-center">
            <a href="/"><h1>UberExpress...</h1></a>
        </div>

        <!--STATUS START -->
            <% if (typeof code !== "undefined" && status.toString() !== ''){
                if (code.toString() === 'success'){ %>
                    <div class="alert alert-success" id="status"><%= status %></div>
                <% }else { %>
                    <div class="alert alert-danger" id="status"><%= status %></div>
                <% }}%>
        <!-- STATUS END -->

        <!-- [POST] Create Driver-->
        <div class="container well">
            <h3>Create Driver:</h3>
            <form method="POST" action="/api/driver">
                <table>
                    <tr>
                        <td><label>Name:</label></td>
                        <td><input type="text" name="name"></td>
                    </tr><br>


                    <tr>
                        <td><label>Email:</label></td>
                        <td><input type="email" name="email"></td>
                    </tr>

                </table><br>

                <div class="row">
                    <div class="col-md-6">
                        <label>Longitude:</label>
                        <input type="number" name="lng">
                    </div>

                    <div class="col-md-6">
                        <label>Latitude:</label>
                        <input type="number" name="lat">
                    </div>
                </div>

                <button type="submit">Submit!</button>
            </form>
        </div>

        <!--[PUT] update driver details-->
        <div class="container well">
            <h3>Update Driver:</h3>

            <div class="row">

                <div class="col-md-5">
                    <form method="POST" action="/api/driver">
                        <input type="hidden" name="_method" value="put">

                        <section>
                            <label>Email Id:</label>
                            <label class="select" >
                                <select class="input-sm" name="email" onchange="updateName(this)">
                                    <option value="">Select</option>
                                    <%  const DropDownData = JSON.parse(data);
                                        for(var i=0; i<DropDownData.length ;i++){  %>
                                            <option value="<%= DropDownData[i]._id; %>"><%= DropDownData[i]._id + ' | ' + DropDownData[i].email %></option>
                                    <% } %>
                                </select> <i></i> </label>
                        </section><br>

                        <script>
                            function updateName(object){
                                var index = object.selectedIndex;
                                var myVar =  JSON.parse( `<%- data %>` ) ;

                                // console.log("myVar:",myVar);
                                // console.log("Index:",index);
                                // console.log("specific USer:",myVar[index-1]);
                                // console.log("Driving1:",myVar[index-1].driving);
                                // console.log("Driving1:",myVar[index-1].geometry.coordinates);

                                let $driving = myVar[index-1].driving;
                                let $name = myVar[index-1].name;
                                let $coordinates = myVar[index-1].geometry.coordinates;
                                if ($driving === "true")
                                    document.querySelector('#drivingID').selectedIndex = 0;
                                else
                                    document.querySelector('#drivingID').selectedIndex = 1;

                                document.querySelector('#nameID').value =  $name;
                                document.querySelector('#longitude').value =  $coordinates[0];
                                document.querySelector('#latitude').value =  $coordinates[1];

                            }
                        </script>

                        <label>Driving:</label>
                        <label>
                            <select name="driving" id="drivingID">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </label><br>

                        <label>Name:</label>
                        <input type="text" name="name" id="nameID"><br><br>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Longitude:</label>
                                <input type="number" name="lng" id="longitude">
                            </div>

                            <div class="col-md-6">
                                <label>Latitude:</label>
                                <input type="number" name="lat"id="latitude">
                            </div>
                        </div>

                        <button type="submit">Submit!</button>
                    </form>
                </div>

                <div class="col-md-7">
                    <% if (updatedData.toString() !== '') {%>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Id</td>
                                <td><%= updatedData[0]._id%></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Name</td>
                                <td <% if (tag.includes('name')) {%>class="alert-success" <%}%>><%= updatedData[0].name%></td>
                            </tr>

                            <tr>
                                <th scope="row">2</th>
                                <td>Email</td>
                                <td><%= updatedData[0].email%></td>
                            </tr>

                            <tr>
                                <th scope="row">3</th>
                                <td>Driving Status</td>
                                <td <% if (tag.includes('driving')) {%>class="alert-success" <%}%>><%= updatedData[0].driving%></td>
                            </tr>

                            <tr>
                                <th scope="row">3</th>
                                <td>Coordinates</td>
                                <td <% if (tag.includes('coordinates')) {%>class="alert-success" <%}%>><%= updatedData[0].geometry.coordinates; %></td>
                            </tr>
                            </tbody>
                        </table>
                    <% } %>
                </div>

            </div>

        </div>

        <!--[DELETE] update driver details-->
        <div class="container well">
            <h3>Delete Driver:</h3>

            <div class="row">

                <div class="col-md-5">
                    <form method="POST" action="/api/driver">
                        <input type="hidden" name="_method" value="delete">

                        <section>
                            <label>Email Id:</label>
                            <label class="select" >
                                <select class="input-sm" name="id">
                                    <option value="">Select</option>
                                    <% for(var i=0; i<data.length ;i++){  %>
                                    <option value="<%= data[i]._id; %>"><%= data[i]._id + ' | ' + data[i].email %></option>
                                    <% } %>
                                </select> <i></i> </label>
                        </section><br>

                        <button type="submit">Submit!</button>
                    </form>
                </div>

                <div class="col-md-7">
                    <% if (deletedData.toString() !== '') {%>
                    <table class="table alert-danger">
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Id</td>
                            <td><%= deletedData[0]._id%></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Name</td>
                            <td><%= deletedData[0].name%></td>
                        </tr>

                        <tr>
                            <th scope="row">2</th>
                            <td>Email</td>
                            <td><%= deletedData[0].email%></td>
                        </tr>

                        </tbody>
                    </table>
                    <% } %>
                </div>

            </div>

        </div>

        <!--[GET] get nearest driver-->
        <div class="container well">
            <h3>Nearest Driver:</h3>

            <div class="row">

                <div class="col-md-5">
                    <form method="GET" action="/api/driver">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Longitude:</label>
                            <input type="number" name="lng">
                        </div>

                        <div class="col-md-6">
                            <label>Latitude:</label>
                            <input type="number" name="lat">
                        </div>
                    </div>
                        <button type="submit">Submit!</button>
                    </form>
                </div>

                <div class="col-md-7">
                    <% if (nearDriver.toString() !== '') { %>

                    <table class="table alert-success">
                        <thead>
                            <td>S.No</td>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Distance(in m)</td>
                        </thead>

                        <tbody>
                        <% for (var i=0;i<nearDriver.length;i++){ %>
                            <tr>
                                <th><%= (i+1); %></th>
                                <td><%= nearDriver[i].name%></td>
                                <td><%= nearDriver[i].email%></td>
                                <td><%= nearDriver[i].dist%></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <% } %>
                </div>

            </div>

        </div>



    </body>

</html>